@media (max-width: 375px){
    div.center{
        width: 100%;
        padding: 0px;
        margin: 40px 20px;
        
    }
}

body {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    background-color: hsl(0, 0%, 8%);
    font-family: lnter;
}

.center {
    background-color: hsl(0, 0%, 12%);
    width: 25%;
    margin-top: 6%;

    text-align: center;
    border-radius: 1em;
    padding: 10px;
    position: relative;
}

img {
    border-radius: 50%;
    width: 30%;
    object-fit: fill;
}

.social-media-container {

    background-color: hsl(0, 0%, 20%);
    border-radius: 1em;
    width: 85%;
    margin: auto;
}

h4 {
    padding: 15px;
    object-fit: contain;

}

.social-media-container:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: black;
}

h3 {
    color: hsl(75, 94%, 57%);

}

p {
    font-size: 14px;
    padding-top: 10px;
}

h1 {
    margin-bottom: -10px;
}
