/*I have many problems with overflowing content*/
/* The height: auto; solved the containment problem!!~ It's not overflowing anymore (Might screw the proportions?) */
@media (max-width: 375px) {
    div.inner-container {
        width: 75%;

    }
}

    
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
 
.attribution a {
    color: hsl(228, 45%, 44%); 
}

body {
    margin: 0 ;
    background-color: hsl(47, 88%, 63%);
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Figtree", sans-serif;

}

.outer-container {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
}
/* Heigh property only works when I put a 100vh on the container(% doesn't work either)*/
/* overflow: auto does the same thing as contain: content */
/* actually no, overflow supports responsive design the later doesn't */

.inner-container {
    box-shadow: 6px 5px 1px 1px black;
    width: 22%;
    padding: 20px;
    background-color: white;
    border-radius: 1em;
    border: 1px black solid; 

}

object {
    object-fit: cover;
    width: 100%;
    border-radius: 1em;
    max-height: fit-content;

}

.learn  {
    padding: 4px;
    width: 80px;
    text-align: center;
    background-color: hsl(47, 88%, 63%);
    font-weight: 800;
    border-radius: .2em;
    color: hsl(0, 0%, 7%);
}


img.greg-pic {
    width: 100%;
    height: auto;

}

p.name {
    display: inline-block;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
    margin: 0;
    align-self: center;
    font-size: 14px;


}

h1.languages-line{
    font-weight: 800;
    font-size: 20px;
}

h1:hover {
    cursor: pointer;
    color: hsl(47, 88%, 63%);
}
p.publishing-date {
    font-weight: 400;
    font-size: small;
    color: hsl(0, 0%, 7%);
}

p.paragraph {
    color: hsl(0, 0%, 42%);
    font-weight: 100;
}

div.person-info {
    display: grid;
    grid-template-columns: 10% 1fr;
    gap: 10px;
    padding-top: 5px;
}